:root {
  --primary-color: #ffeaf4;
  --heading-font-family: "Paytone One", sans-serif;
  --default-font-family: "Poppins", sans-serif;
  --defalut-font-color: #2d2c2d;
}

.hero {
  text-align: center;
  padding: 90px 0 50px;
  background-color: var(--primary-color);
  color: var(--defalut-font-color);
}
h1 {
  font-family: var(--heading-font-family);
  letter-spacing: 1px;
  font-size: 96px;
  margin-top: 25px;
}

h2 {
  font-size: 40px;
  font-family: "Leckerli One", cursive;
}

h3 {
  font-family: var(--default-font-family);
  font-size: 30px;
  margin-top: 20px;
}
.fa-instagram,
.fa-envelope {
  font-size: 50px;
  color: #666464;
  margin-top: 25px;
  padding: 15px;
}
.homeimg {
  max-width: 400px;
  padding: 0 20px;
}
.illust,
.weather,
.dictionary {
  text-align: center;
  font-family: var(--default-font-family);
  font-size: 25px;
  line-height: 1;
}
a {
  text-decoration: none;
  color: #666464;
}
@media (max-width: 768px) {
  h1 {
    font-size: 48px;
  }
  h3 {
    font-size: 18px;
  }
  a {
    font-size: 16px;
  }
}
