:root {
  --primary-color: #ffeaf4;
  --heading-font-family: "Paytone One", sans-serif;
  --default-font-family: "Poppins", sans-serif;
  --defalut-font-color: #2d2c2d;
}

.hero,
.about-hero,
.work-hero,
.contact-hero {
  text-align: center;
  padding: 90px 0 50px;
  background-color: var(--primary-color);
  color: var(--defalut-font-color);
}

h1 {
  font-family: var(--heading-font-family);
  letter-spacing: 1px;
  font-size: 96px;
  margin-top: 15px;
}

h2 {
  font-size: 40px;
  font-family: "Leckerli One", cursive;
}

h3 {
  font-family: var(--default-font-family);
  font-size: 30px;
  margin-top: 30px;
}
.fa-instagram,
.fa-envelope {
  font-size: 50px;
  color: #666464;
  margin-top: 25px;
  padding: 15px;
}

.homeimg {
  padding: 0 20px;
}
.aboutimg {
  width: 80%;
  display: block;
  margin: 0 auto;
}
.workimg {
  width: 90%;
  display: block;
  margin: 0 auto;
}
.illust,
.weather,
.dictionary {
  text-align: center;
  font-family: var(--default-font-family);
  font-size: 25px;
  line-height: 1;
}
a {
  text-decoration: none;
  color: #666464;
}
#work-link {
  font-size: 20px;
}
p {
  font-size: 20px;
  font-family: var(--default-font-family);
  line-height: 1.5;
}
p .workcontent {
  font-size: 18px;
}
.contact-src {
  margin-top: 100px;
}
@media (max-width: 768px) {
  h1 {
    font-size: 52px;
  }
  h3 {
    font-size: 22px;
  }
  a {
    font-size: 16px;
  }
  .col-4 {
    padding: 0;
  }
  p {
    font-size: 18px;
  }
  .greeting {
    text-align: center;
    padding: 20px;
  }
  .aboutimg {
    max-width: 400px;
    display: block;
    margin: 0 auto;
  }
  .workimg {
    max-width: 450px;
  }
}
